body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative;
}
h1, h2 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
nav {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    display: inline-block;
    height: 40px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    width: 100%;
    text-align: center;
    padding-top: 20px;
}
.button:hover {
    background-color: #555;
}
.photo-container{
    background-color: #555555;
    width:100px ;
    height: 100px;
}
#head{
    display: flex;
}
#sign{
    margin-left: 10%;
    width: 90%;
    display: flex;
    flex-direction: column;
}
img{
    opacity: 0;
}
img:hover{
    opacity: 1;
}
.sidebar{
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: grey;
    align-items: center;
    justify-content: space-between;

}
.button-container{
    width: 100%;
}
main{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: 100%;
}
#main-content{
    background-color:whitesmoke ;
    width: 80%;
    margin-left: 10px;
}